<% provide(:title, 'Revisions') %>

<%= render 'shared/navbar' %>

<div class="container">
  <div class="page-header">
    <h2>Revisions</h2>
  </div>

  <%= render "shared/flash" %>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
  	<li><%= link_to "Web", revisions_web_path %></li>
    <li><%= link_to "Vanilla", revisions_vanilla_path %></li>
  	<li class="active"><a href="">Modded</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane fade in active" style="padding-top:30px">
      <!--Info-->
      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Modded Revisions: </strong> This modded repos is upheld by community members. Check out the open source repos <a href="https://github.com/Soartex-Modded">here</a>.
      </div>
      <!--Main Table-->
      <%= render 'revisions_table' %>
    </div>
  </div>

</div>

<%= render 'shared/footer' %>