<% provide(:title, 'Revisions') %>

<%= render 'shared/navbar' %>

<div class="container">
  <div class="page-header">
    <h2>Revisions</h2>
  </div>

  <%= render "shared/flash" %>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li><%= link_to "Web", revisions_web_path %></li>
  	<li class="active"><a href="">Vanilla</a></li>
  	<li><%= link_to "Modded", revisions_modded_path %></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane fade in active" style="padding-top:30px">
      <!--Info-->
      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Vanilla Revisions: </strong> Check out the open source repo <a href="https://github.com/InvictusGraphics/Invictus_Textures">here</a>.
      </div>
      <!--Main Table-->
      <%= render 'revisions_table' %>
    </div>
  </div>

</div>

<%= render 'shared/footer' %>