<% provide(:title, 'Downloads') %>

<%= render 'shared/navbar' %>
<div class="container">
  <div class="page-header">
    <h2>Invictus Downloads</h2>
  </div>

  <%= render "shared/flash" %>

  <% if signed_in? %>

    <div class="jumbotron">
      <h1>Download</h1>
      <p>Alpha pack released on January 1, 2014.</p>
      <p>
        <a class="btn btn-success btn-lg" href="http://adf.ly/bTyOa" id="download">Invictus Alpha <span class="glyphicon glyphicon-file"></span></a> 
        <a class="btn btn-primary btn-lg" href="http://www.minecraftforum.net/topic/1496369-/">MCPatcher <span class="glyphicon glyphicon-share-alt"></a> 
        <a class="btn btn-primary btn-lg" href="http://www.minecraftforum.net/topic/249637-/">Optifine <span class="glyphicon glyphicon-share-alt"></a>
      </p>    
    </div>
    <div class="jumbotron">
      <h1>Mod Textures</h1>
      <p>We contribute to the Soartex mod support!</p>
      <p>
        <a href="http://new.creeperrepo.net/Soartex/resources/texture-patcher/Texture-Patcher-1.2.jar" class="btn btn-success btn-lg">Soartex Mod Support <span class="glyphicon glyphicon-share-alt"></span></a> 
        <a href="http://soartex.net/community/threads/texture-patcher-guide.704/" class="btn btn-primary btn-lg">Guide <span class="glyphicon glyphicon-book"></span></a>
      </p>
    </div>

  <% else %>

    <div class="jumbotron">
      <h1>Download</h1>
      <p>The alpha pack is only available to members. Sign up today!</p>
      <p>
        <%= link_to(raw('Sign In  <span class="glyphicon glyphicon-share-alt">'), new_user_session_path, class: "btn btn-success btn-lg" ) %>
        <%= link_to('Create an Account', new_user_registration_path, class: "btn btn-primary btn-lg" ) %>
      </p>    
    </div>

  <% end %>

</div>

<%= render 'shared/footer' %>