<% provide(:title, 'About Us') %>

<%= render 'shared/navbar' %>
<div class="container">
  <div class="page-header">
    <h2>About Us</h2>
  </div>

  <%= render "shared/flash" %>

  <blockquote>
    <p>Invictus is the passion for expanding our texturing and coding knowledge through practice and experimentation. As we work towards a refined Minecraft aesthetic we use the guidance of the artistry of Soar49, the creator of Soartex and inspiration for our work.</p>
    <small>Invictus Mission</small>
  </blockquote>

  <div class="row" style="padding-top:20px;padding-bottom:30px;">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading" style="padding: 1px 10px">
          <h4>
            <%= gravatar_for(User.find(2), size: 30 ) %> 
            Shoeboxam
          </h4>
        </div>
        <div class="panel-body">
          I maintained and updated Soartex Fanver with the great help of the Fanver community for its initial two years. In August 2013 I organized my repertoire of content I made for Fanver in a separate pack and began texturing the missing gaps with GoldBattle to create Invictus. In December I resigned from my position in Fanver in order to focus on this project. I tend to make textures, look back at them a week later and decide to remake them. If there is a texture you don't like, feel free to give a comment. 
          <br><br>
          <a href="https://github.com/shoeboxam">Github</a> | <a href="http://www.twitch.tv/Shoeboxama/">Twitch</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading" style="padding: 1px 10px">
          <h4>
            <%= gravatar_for(User.find(1), size: 30 ) %> 
            GoldBattle
          </h4>
        </div>
        <div class="panel-body">
          I began developing for Soartex in May 2012. Over time, I built up the back end to create a customizer, mod patcher and texture management and distribution system. Through Invictus I continue to practice my knowledge in the vast areas of computer science, art and technology. I often delve into new projects <i>and</i> tend to remake old ones!
          <br><br>
          <a href="https://github.com/goldbattle">Github</a> | <a href="http://www.twitch.tv/goldbattle/">Twitch</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="padding-bottom:30px">
    <div class="col-md-2">
      <div class="thumbnail text-center" style="min-height:180px">
        <h4>Our Tools</h4>
        <p>We use many tools to support Invictus, these are some that we use everyday.</p>
      </div>
      
    </div>
    <div class="col-md-2">
      <div class="thumbnail" style="min-height:180px">
        <%= image_tag "about/logo_gimp.png", :class=>"img-responsive", style: "width:100px" %>
        <div class="caption" style="text-align:center;">
          <p>Gimp GNU Image Manipulator</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail" style="min-height:180px">
        <%= image_tag "about/logo_github.png", :class=>"img-responsive", style: "width:100px" %>
        <div class="caption" style="text-align:center;">
          <p>Github<br>(revision control)</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail" style="min-height:180px">
        <%= image_tag "about/logo_sync.png", :class=>"img-responsive", style: "width:100px" %>
        <div class="caption" style="text-align:center;">
          <p>SyncToy<br>(client file syncing)</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail" style="min-height:180px">
        <%= image_tag "about/logo_rails.png", :class=>"img-responsive", style: "width:100px" %>
        <div class="caption" style="text-align:center;">
          <p>Ruby on Rails<br>(framework)</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail" style="min-height:180px">
        <%= image_tag "about/logo_subline.png", :class=>"img-responsive", style: "width:100px" %>
        <div class="caption" style="text-align:center;">
          <p>Subline Text 3<br>(text editor)</p>
        </div>
      </div>
    </div>
  </div> 

  <blockquote>
    <p>Do not distribute Invictus publicly without permission from either Goldbattle or Shoeboxam.</p>
    <small>Invictus License</small>
  </blockquote>

</div>

<%= render 'shared/footer' %>