<% provide(:title, "User List") %>

<%= render 'shared/navbar' %>

<div class="container">
  <div class="page-header">
    <h2>Users</h2>
  </div>

  <%= render "shared/flash" %>

  <%= will_paginate @user, {:inner_window => 3, :outer_window => 0, renderer: BootstrapPagination::Rails} %>

  <table class='table table-hover table-bordered'>
    <thead>
      <tr>
        <th></th>
        <th>Username</th>
        <th>Email</th>
        <th>Actions</th>
        <th>Role</th>
        <th>Logins</th>
        <th>Login Last</th>
        <th>Last IP</th>
        <th>Email</th>
        <th>Date Updated</th>
        <th>Date Created</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= gravatar_for user, size: 25 %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= link_to "Edit", edit_user_path(user), class: "btn btn-sm" %></td>
          <td><%= user.role %></td>
          <td><%= user.sign_in_count %></td>
          <td><%= user.current_sign_in_at.getlocal.strftime("%m/%d/%Y %H:%M") if user.current_sign_in_at %></td>
          <td><%= user.current_sign_in_ip %></td>
          <td><%= user.is_subscribed %></td>
          <td><%= user.updated_at.getlocal.strftime("%m/%d/%Y %H:%M") if user.updated_at %></td>
          <td><%= user.created_at.getlocal.strftime("%m/%d/%Y %H:%M") if user.created_at %></td>
          </li>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @user, {:inner_window => 3, :outer_window => 0, renderer: BootstrapPagination::Rails} %>

</div>

<%= render 'shared/footer' %>