<% provide(:title, "Edit Post") %>

<%= render 'shared/navbar' %>

<%= render 'shared/markdown_helper' %>

<div class="container">
  <div class="page-header">
    <h2>Edit Post</h2>
  </div>

  <!-- Breadcrumb -->
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li><%= link_to("Home", root_url )%></li>
        <li><%= link_to("Blog", posts_url )%></li>
        <li><%= link_to( @post.title , post_url(@post) )%></li>
        <li class="active">Edit Post</li>
      </ol>
    </div>
  </div>

  <hr style="margin-top:0px">

  <%= render "shared/flash" %>
  <%= render 'error_messages' %>

  <%= simple_form_for(@post, :url => post_path(@post), :html => { :method => :put, multipart: true }) do |f| %>

    <div class="row">
      <!--Title and Slug-->
      <div class="col-md-4">
        <%= f.input :title, :required => true %>
        <%= f.input :slug, :required => true, label: "Slug/Url" %>
      </div>
      <!--Image Uploads-->
      <div class="col-md-5">
        <%= f.label :thumbnail, required: false %>
        <small>600 x 300</small><br>
        <div class="fileinput fileinput-new" data-provides="fileinput">
          <div class="input-group">
            <div class="form-control uneditable-input span3" data-trigger="fileinput">
              <i class="glyphicon glyphicon-file fileinput-exists"></i> 
              <span class="fileinput-filename"></span>
            </div>
            <span class="input-group-addon btn btn-default btn-file">
              <span class="fileinput-new">Select file</span>
              <span class="fileinput-exists">Change</span>
              <%= f.file_field :thumbnail, required: false %>
            </span>
            <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
          </div>
        </div>
        <%= f.label :header, required: false %>
        <small>600 x 300</small><br>
        <div class="fileinput fileinput-new" data-provides="fileinput">
          <div class="input-group">
            <div class="form-control uneditable-input span3" data-trigger="fileinput">
              <i class="glyphicon glyphicon-file fileinput-exists"></i> 
              <span class="fileinput-filename"></span>
            </div>
            <span class="input-group-addon btn btn-default btn-file">
              <span class="fileinput-new">Select file</span>
              <span class="fileinput-exists">Change</span>
              <%= f.file_field :header, required: false %>
            </span>
            <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
          </div>
        </div>
      </div>
      <!--Visiblity and Submit-->
      <div class="col-md-3">
        <div class="pull-right form-inline">
        <%= f.input :is_visible, :collection => [['Post Visible', true], ['Post Hidden', false]], :include_blank => false, label: false %>
        <%= f.submit "Submit", class: "btn btn-large btn-success", :data => { disable_with: 'Saving' } %>
        <br>
        <%= f.input :is_mail_sent, :collection => [['Mail Sent', true], ['Not Sent', false]], :include_blank => false, label: false %>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Edit markdown -->
      <div class="col-lg-6">
        <%= f.label :content %>
        <small>(Ctrl + M for Help)</small>
        <%= f.text_area :content, :class=>"mdhtmlform-md" %>
      </div>
      <!-- Display converted html -->
      <div class="col-lg-6">
        <label>Html Output</label>
        <div class="mdhtmlform-html"></div>
      </div>
    </div>

  <% end %>
</div>

<%= render 'shared/footer' %>