<% provide(:title, "Blog") %>

<%= render 'shared/navbar' %>

<div class="container">
  <div class="page-header">
    <h2>
      Invictus Blog
      <% if can? :create, Post %>
        <div class="pull-right">
          <%= link_to("New Post", new_post_path, :class=> "btn btn-primary") %>
        </div>
      <% end %>
    </h2>
  </div>

  <!-- Breadcrumb -->
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li><%= link_to("Home", root_url )%></li>
        <li class="active">Blog</li>
      </ol>
    </div>
  </div>

  <hr style="margin-top:0px">

  <%= render "shared/flash" %>

  <% if can? :edit, Post %>
    <!-- Main Post Content -->
    <% @post_all.each do |post| %>
      <%= render 'post', :post => post %>
      <% if !(post.equal? @post_all.last) %>
        <hr>
      <% end %>
    <% end %>
    <!-- Pagination -->
    <%= will_paginate @post_all, {:inner_window => 3, :outer_window => 0, renderer: BootstrapPagination::Rails} %>
  <% else %>
    <!-- Main Post Content -->
    <% @posts.each do |post| %>
      <%= render 'post', :post => post %>
      <% if !(post.equal? @posts.last) %>
        <hr>
      <% end %>
    <% end %>
    <!-- Pagination -->
    <%= will_paginate @posts, {:inner_window => 3, :outer_window => 0, renderer: BootstrapPagination::Rails} %>
  <% end %>

</div>

<%= render 'shared/footer' %>