<% provide(:title, "New Post") %>

<%= render 'shared/navbar' %>

<%= render 'shared/markdown_helper' %>

<div class="container">
  <div class="page-header">
    <h2>New Post</h2>
  </div>

  <!-- Breadcrumb -->
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li><%= link_to("Home", root_url )%></li>
        <li><%= link_to("Blog", posts_url )%></li>
        <li class="active">New Post</li>
      </ol>
    </div>
  </div>

  <hr style="margin-top:0px">

  <%= render "shared/flash" %>
  <%= simple_form_for(:post, :url => posts_path, :html => { :method => :post, multipart: true }) do |f| %>

    <%= render 'error_messages' %>

    <div class="pull-right form-inline">
      <%= f.input :is_visible, :collection => [['Post Visible', true], ['Post Hidden', false]], :include_blank => false, label: false %>
      <%= f.submit "Submit", class: "btn btn-large btn-success", :data => { disable_with: 'Saving' } %>
    </div>

    <%= f.input :title, :required => true %>
    <%= f.input :slug, :required => true %>
    <%= f.label :thumbnail %>
    <small>600 x 300</small><br>
    <%= f.input :thumbnail, :as => :file_upload, label: false %>
    <%= f.label :header %>
    <small>600 x 300</small><br>
    <%= f.input :header, :as => :file_upload, label: false %>

    <div class="form-group">
      <div class="row">
        <!-- Edit markdown -->
        <div class="col-lg-6">
          <%= f.label :content %>
          <small>(Ctrl + M for Help)</small>
          <%= f.text_area :content, :class=>"mdhtmlform-md" %>
        </div>
        <!-- Display converted html -->
        <div class="col-lg-6">
          <label>Html Output</label>
          <div class="mdhtmlform-html"></div>
        </div>
      </div>
    </div>

  <% end %>
</div>

<%= render 'shared/footer' %>