<% provide(:title, @post.title) %>

<%= render 'shared/navbar' %>

<div class="container">
  <div class="page-header">
    <h2>
      <%= @post.title %>
      <% if can? :edit, Post %>
        <!--Admin Actions-->
        <div class="pull-right">
          <%= link_to("Edit Post", edit_post_path(@post), :class=> "btn btn-primary") %>
          <%= link_to("Delete Post", @post, method: :delete, data: { confirm: "You sure?" }, :class=> "btn btn-danger") %>
        </div>
      <% end %>
    </h2>
  </div>

  <!-- Breadcrumb -->
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li><%= link_to("Home", root_url )%></li>
        <li><%= link_to("Blog", posts_url )%></li>
        <li class="active"><%= @post.title %></li>
      </ol>
    </div>
  </div>

  <hr style="margin-top:0px">

  <!-- Main Post Content -->
  <div class="row">
    <div class="col-lg-8">

      <!-- Time Posted -->
      Posted on 
      <%= @post.created_at.getlocal.strftime("%m/%d/%Y at %I:%M %P") %> 
      by 
      <%= findUserById(@post.user_id).username %>
      <hr>

      <%= render "shared/flash" %>

      <!-- Header Picture -->
      <%= image_tag @post.header.url, :class=>"img-responsive img-header" %>
      <hr>

      <!-- Content -->
      <div style="word-wrap:break-word;">
        <%= markdown(@post.content)%>
      </div>
      <hr>
    
      <%= render 'comments/post_comment' %>

      <!-- Start Comments Script -->
      <script type="text/javascript">
        function update_count(val,id) {
          var len = val.value.length;
          if (len > 400) {
            val.value = val.value.substring(0, 400);
          } else {
            $('#chars'+id).text(400-len);
          }
        };
      </script>
      <!-- End Comments Script -->

      <% count = 0 %>
      <% @comments.each do |comment| %>
        <%= render comment %>
        <%= render 'comments/edit_comment', :comment => comment  %>
        <% count +=1 %>
      <% end %>

      <% if count >= 5 %>
        <%= render 'comments/post_comment' %>
      <% end %>

      <%= will_paginate @comments, {:inner_window => 3, :outer_window => 0, renderer: BootstrapPagination::Rails} %>

    </div><!-- post -->

    <!-- Side Bar -->
    <div class="col-lg-4">
      <div class="well">
        <h4>Donate</h4>
        <p>Feel like supporting us? Buy us a cup of coffee! ...or share the pack with your friends. That's just as important. Thank you for your support!</p>
      </div>
      <div class="well">
        <h4>Modded Minecraft</h4>
        <p>Patches for mods are available from Soartex Fanver. We assist the Soartex mod support with our own contributions. Patches are best installed with the "mod patcher," a simple Java program that installs the patches to Invictus. <a href="http://new.creeperrepo.net/Soartex/resources/soartex-patcher/Soartex-Patcher-1.2.jar">Link</a></p>
      </div>
    </div><!-- sidebar -->
  </div>
</div>

<%= render 'shared/footer' %>